*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.body{
    display: grid;
    grid-template-columns: 1fr auto;
    font-family : "Futura PT", sans-serif;

}
.link{
    text-decoration: none;
}
.margin-main-aside{
    margin: 0 40px;
}
.pattern{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.header{
    grid-column: span 2;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    background-color: #ffffff;
}
li{

    list-style: none;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 18px;
}
.menu__item{
    color: #000000;
}
.menu__item:hover{
    color: blue;
    border-bottom: 1px solid blue;
}

.burger-menu{
    display: none;
}
.phone{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.block-hide{
    display: block;
}

.aside{
    width: 320px;
    height: 600px;
    text-align: center;
}
.side-news_header{
    font-size: 24px;
    color: #2F2222;
    font-weight: 450;
    font-family: "Futura PT medium";
    margin-bottom: 30px;
}
.side-news{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    border-bottom: 1px solid #2F22221A;
    margin-bottom: 10px;
    text-align: left;

}
.side-news__header{
    font-weight: 400;
}
.side-news__date{
    color: #E5E4E4;
    margin-bottom: 10px;
}
.side-news_no-border{
    border: none;
}
.aside__sub{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 0 30px;
}
.sub-header{
    font-size: 24px;
    font-weight: 450;
    font-family: "Futura PT medium";
    margin-bottom: 30px;
}
.sub-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #ffff;
    background-color: #5D71DD;
    border-radius: 20px;
    padding: 14px 0;
    font-size: 18px;
}
.sub-button:hover{
    cursor: pointer;
}
.sub-mail{
    min-width: 200px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 20px;
    color: #2F222266;
    font-size: 18px;
    padding: 13px 0;
    margin-bottom: 20px;
    border: none;
    padding-left: 30px;
}
.main{
    margin-top: 48px;
}
.start__category{
    display: inline-block;
    font-size: 16px;
    color: #5D71DD;
    padding: 8px 16px;
    background-color: #F7F8FD;
    border-radius: 8px;
    margin-right: 20px;
}
.start__date{
    color: #2F222266;
}
.topic{
    font-size: 30px;
    margin: 30px 0;
}
.paragraph {
    margin: 1em 0;
    font-size: 18px;
}
.text-flow{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 4vh;
}
.picture-flow{
    grid-row: span 2;
    margin-left: 40px;
}
.picture-flow__img{
    width: 320px;
    height: 170px;
    background: url("../img/picture_flow.jpg") center no-repeat;
    background-size: 100%, cover;
    border-radius: 20px;
    margin-bottom: 10px;
}
.picture-flow__text{
    width: 320px;
    font-size: 14px;
}
.stack-photo{
    max-width: 800px;
    margin-bottom: 3vh;
}
.stack-photo__picture{
    padding-top: 37.87%;
    background: linear-gradient(#c4c4c43a,#c4c4c481), url("../img/stack_photo.jpg") center no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.news-pages{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 10px 16px;
}
.news-pages__back, .news-pages__forward{
    display: inline-block;
    font-size: 18px;
    color: #5D71DD;
    padding: 8px 16px;
    background-color: #F7F8FD;
    border-radius: 8px;
}
.footer{
    grid-column: span 2;
    text-align: center;
    background-color: #5D71DD0D;
}
.footer__menu{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    gap: 80px;
    color: #2F2222;
    margin-top: 2%;
    margin-bottom: 5%;
    white-space: nowrap;
}

.footer__text{
    font-size: 14px;
    color: #2F2222;
    margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
    .stack-photo{
        min-width: 800px;
        max-width: none;
    }
    .stack-photo__picture{
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    .main{
        grid-column: span 2;
    }
    .aside{
        max-width: 940px;
        width: 100%;
        height: auto;
        justify-self: center;
        padding: 40px;
    }
    .aside__news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 20px;
    }
    .side-news{
        border: none;
    }
    .side-news_header{
        text-align: left;
        grid-column: span 3;
    }
    .side-news__header{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .side-news__date{
        padding: 0;
        display: block;
    }
    .aside__sub{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding: 80px;
    }
    .sub-header{
        text-align: left;
        grid-column: span 2;
    }
    .sub-mail{
        height: 100%;
        margin: 0;
    }
    .block-hide{
        display: none;
    }
    .stack-photo__picture{
        padding-top: 10%;
        height: 295px;
    }

    
}

@media screen and (max-width: 800px) {
    .picture-flow{
        text-align: center;
        grid-area: 1/1/1/3;
        padding: 20px 0;
        margin-left: 0;
        justify-self: center;
    }
    .paragraph{
        grid-column: span 2;
    }
    .paragraph_grid{
        grid-area: 2/1/2/3;
    }
}
@media screen and (max-width: 500px) {
    .menu{
        display: none;  
    }
    .burger-menu{
        display: block;
    }
    .burger-checkbox{
        display: none;
    }
    .burger{
        display: block;
        position: absolute;
        right: 10px;
        width: 32px;
        height: 3px;
        background-color: #2F222266;
    }
    .burger::before, 
    .burger::after{
        display: block;
        position: absolute;
        width: 32px;
        height: 3px;
        background-color: #2F222266;
        content: "";
    }
    .burger::before{
        top: -10px;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    } 
    .burger::after{
        bottom: -10px;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before{
        bottom: 10px;
        transform: rotate(-45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        top: -10px;
        transform: rotate(45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger {
        height: 0;
        transition: height .3s;
    }
    .block-hide{
        display: none;
    }
    .main{
        grid-column: span 4;
    }
    
    .footer{
        grid-column: span 4;
    }
    .footer__menu{
        font-size: 24px;
        gap: 20px;
    }
    .footer__text{
        font-size: 20px;
    }
} 