@font-face {
  font-family: 'Inter';
  src: url(css/Inter/Inter-Regular.ttf);
}
main {
  overflow: hidden;
  background-color: #1e1e1e;
}
::-webkit-scrollbar {
  width: 0;
}
.header-bg {
  position: static;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../img/background3.jpg);
}
.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.header-logo {
  font-size: 40px;
  margin-top: -10px;
  margin-left: 3rem;
}
.header-menu li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
}
.header-menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.header-menu a:after {
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #098a5b;
  content: "";
  transition: width 0.36s ease-out;
}
.header-menu a:hover:after,
.header-menu a:focus:after {
  width: 100%;
}
.header-menu img {
  display: inline-block;
  margin-top: -10px;
}
.header-menu #contact {
  display: inline-block;
  border: 1.5px solid #098a5b;
  padding: 4px;
}
.hed-content {
  margin-top: 6rem;
  padding-bottom: 3rem;
}
.hed-content .quote {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #098a5b;
}
.hed-content .lozung {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}
.hed-content .getting {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #098a5b;
}
.hed-content .getting p {
  display: inline-block;
  border: 1.5px solid #098a5b;
  padding: 20px 15px;
  text-shadow: 1px 0 1px #000;
}
.box {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.box-header {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 700;
}
.box-text {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1rem;
}
.box-1,
.box-2,
.box-3 {
  border: 1.5px solid #313131;
  background-color: #313131;
  width: 16rem;
  height: auto;
}
.box-2 {
  border: 1.5px solid #098a5b;
}
.box p {
  display: inline-block;
}
.box img {
  margin: 10px;
  display: block;
  height: 3rem;
}
.service {
  margin-top: 5rem;
}
.service img {
  display: inline-block;
  margin-top: -5px;
}
.service h1 {
  display: inline-block;
  font-size: 31px;
  font-weight: 700;
}
.service p {
  display: inline-block;
  line-height: 0.001rem;
}
.service .ourService {
  font-weight: 600;
  color: #098a5b;
}
.service-quote {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-weight: 600;
}
.benefits {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 3rem;
}
.benefits-box-1,
.benefits-box-2,
.benefits-box-3,
.benefits-box-4 {
  padding: 15px;
  border-bottom: 6px solid #d9d9d9;
  background: #313131;
  width: 19rem;
  height: auto;
}
.benefits-box-3 {
  padding-top: 2.95rem;
  background-color: #098a5b;
}
.benefits-box img {
  display: block;
  height: 2rem;
  width: 2rem;
}
.benefits-box h1 {
  margin-top: 1.5rem;
  font-size: 29px;
  font-weight: 700;
}
.benefits-box p {
  font-weight: 500;
  line-height: 16px;
}
.benefits-box-second {
  margin-top: 1.5rem;
}
.benefits .line-vertical {
  margin: 5rem 0;
  margin-left: 3rem;
}
.benefits .line-vertical img {
  display: block;
}
.therd-block {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #313131;
}
.therd-block .union-work-but {
  justify-content: space-between;
}
.therd-block .works {
  display: inline-block;
  margin-top: 3rem;
}
.therd-block .works img {
  display: inline-block;
  margin-top: -15px;
}
.therd-block .works h1,
.therd-block .works p {
  display: inline-block;
}
.therd-block .works h1 {
  font-size: 31px;
  font-weight: 700;
}
.therd-block .works p {
  font-size: 15px;
  color: #098a5b;
}
.therd-block .button {
  border: 1.5px solid #098a5b;
  display: inline-block;
  margin-top: 3.5rem;
  padding: 10px;
}
.therd-block .button a {
  text-decoration: none;
  display: inline-block;
  color: #098a5b;
}
.therd-block .photos {
  margin-top: 4rem;
}
.therd-block .photos img {
  width: 11rem;
  height: auto;
}
.therd-block .photos .img-specel {
  width: 12rem;
  height: auto;
}
.therd-block .line-vertical {
  margin: 5rem 0;
  margin-left: 3rem;
}
.therd-block .line-vertical img {
  display: block;
}
.fourth-block {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.fourth-block .about {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 2rem;
}
.fourth-block .about img {
  display: inline-block;
  margin-top: -15px;
}
.fourth-block .about h1,
.fourth-block .about p {
  display: inline-block;
}
.fourth-block .about h1 {
  font-size: 31px;
  font-weight: 700;
}
.fourth-block .about p {
  font-size: 15px;
  color: #098a5b;
}
.fourth-block .photo-cards {
  margin-top: 3rem;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.fourth-block .photo-cards-1 {
  margin-left: 3rem;
  width: 495px;
  height: 574px;
}
.fourth-block .photo-cards-2,
.fourth-block .photo-cards-3 {
  display: inline-block;
  width: 545px;
  height: 270px;
}
.fourth-block .photo-cards-3 {
  margin-top: 2rem;
}
.fourth-block .photo-cards-text-1 {
  position: absolute;
  left: 4.5rem;
  top: 500px;
  line-height: 10px;
}
.fourth-block .photo-cards-text-1 h1 {
  font-size: 26px;
}
.fourth-block .photo-cards-text-1 p {
  font-weight: 500;
}
.fourth-block .photo-cards-union-2,
.fourth-block .photo-cards-union-3 {
  position: relative;
}
.fourth-block .photo-cards-text-2 {
  position: absolute;
  left: 10px;
  top: 12.5rem;
  line-height: 10px;
}
.fourth-block .photo-cards-text-2 h1 {
  font-size: 26px;
}
.fourth-block .photo-cards-text-2 p {
  font-weight: 500;
}
.fourth-block .photo-cards-text-3 {
  position: absolute;
  left: 10px;
  top: 14rem;
  line-height: 10px;
}
.fourth-block .photo-cards-text-3 h1 {
  font-size: 26px;
}
.fourth-block .photo-cards-text-3 p {
  font-weight: 500;
}
.fourth-block .line-text {
  margin-top: 2.5rem;
}
.fourth-block .line-text h1 {
  font-size: 24px;
}
.fourth-block .line-text p {
  font-weight: 500;
}
.fourth-block .line-text-1,
.fourth-block .line-text-2 {
  border-right: 1.5px solid #098a5b;
}
.fourth-block .line-text-1,
.fourth-block .line-text-2,
.fourth-block .line-text-3 {
  padding-left: 4rem;
}
.fourth-block .line-vertical {
  margin: 5rem 0;
  margin-left: 3.5rem;
}
.fourth-block .line-vertical img {
  display: block;
}
.fifth-block {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.fifth-block .testimonials {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 2rem;
}
.fifth-block .testimonials img {
  display: inline-block;
  margin-top: -15px;
}
.fifth-block .testimonials h1,
.fifth-block .testimonials p {
  display: inline-block;
}
.fifth-block .testimonials h1 {
  font-size: 31px;
  font-weight: 700;
}
.fifth-block .testimonials p {
  font-size: 15px;
  color: #098a5b;
}
.fifth-block .reviews-block-1,
.fifth-block .reviews-block-2,
.fifth-block .reviews-block-3 {
  background-color: #101017;
  text-align: center;
  font-size: 12px;
  padding: 25px;
  border: 1px solid #777777;
  margin-top: 3rem;
}
.fifth-block .reviews p {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.fifth-block .line-vertical {
  margin: 5rem 0;
  margin-left: 3.5rem;
}
.fifth-block .line-vertical img {
  display: block;
}
.sixth-block {
  text-align: center;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6rem;
}
.sixth-block .do-text {
  font-size: 48px;
}
.sixth-block .do-button button {
  padding: 0.5rem 3rem;
  border: 2px solid #098a5b;
  background-color: #313131;
  color: #ffffff;
}
.footer {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5rem;
}
.footer-logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}
.footer-contact {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}
.footer-contact img,
.footer-contact p {
  display: inline-block;
  text-align: left;
}
.footer-contact-head {
  font-weight: 700;
  font-size: 20px;
}
.footer-contact-1,
.footer-contact-2,
.footer-contact-3 {
  margin-left: 5px;
}
.footer-serveces {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}
.footer-serveces-head {
  font-weight: 700;
  font-size: 20px;
}
.footer-about {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}
.footer-about-head {
  font-weight: 700;
  font-size: 20px;
}
.footer2 .hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 3px solid #098a5b;
}
.footer2-social {
  justify-content: space-between;
}
