@font-face {
  font-family: 'Inter';
  src: url(Inter/Inter-Regular.ttf);
}
main {
  overflow: hidden;
  background-color: #1e1e1e;
}
::-webkit-scrollbar {
  width: 0;
}
.header-bg {
  position: static;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../img/background3.jpg);
}
/*.header-bg .navbar .container-fluid .nav-item {
  color: #ffffff;
}
.header-bg .navbar .container-fluid .navbar-nav .nav-link {
  color: #ffffff;
}
.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.header-logo {
  font-size: 40px;
  margin-top: -10px;
  margin-left: 3rem;
}
.header-menu li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
}
.header-menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.header-menu a:after {
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #098a5b;
  content: "";
  transition: width 0.36s ease-out;
}
.header-menu a:hover:after,
.header-menu a:focus:after {
  width: 100%;
}
.header-menu img {
  display: inline-block;
  margin-top: -10px;
}
.header-menu #contact {
  display: inline-block;
  border: 1.5px solid #098a5b;
  padding: 4px;
} */



.menu-wrap{
  z-index: 1;
  position: absolute;
  width: 100%;
}
.menu{
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.menu-logo{
  margin: 0 20px;
  font-size: 45px;
}
.menu-burger{
  display: flex;
  margin-right: 20px;

}
.menu-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 0;
}
.menu-list li{
  margin: 0 15px;
}
.menu-list li a{
  text-decoration: none;
  color: inherit;
}
.menu-list li:hover{
  cursor: pointer;
}
.menu-list li:nth-child(6){
  border: solid #098a5b 1.5px;
  padding: 5px;
}

#menu-toggle{
  display: none;
}
.menu-button-container{
  display: flex;
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button{
  height: 0;
}
#upBtn{
  display: none;
  position: fixed;
  bottom: 10%;
  right: 4%;
  background-color: #313131 ;
  border-radius: 30px;
  transform: rotate(-90deg);
}



.hed-content {
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.hed-content .quote {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #098a5b;
}
.hed-content .lozung {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}
.hed-content .getting {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #098a5b;
}
.hed-content .getting p {
  display: inline-block;
  border: 1.5px solid #098a5b;
  padding: 20px 15px;
  text-shadow: 1px 0 1px #000;
  cursor: pointer;
}
.hed-content .getting p:hover {
  background-color: #098a5b;
}
.box {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.box-header {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 700;
}
.box-text {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1rem;
}
.box-1,
.box-2,
.box-3 {
  border: 1.5px solid #313131;
  background-color: #313131;
  width: 100%;
  max-width: 16rem;
  height: auto;
  margin: 5px;
}
.box-1:hover,
.box-2:hover,
.box-3:hover {
  border: 1.5px solid #098a5b;
}
.box p {
  display: inline-block;
}
.box img {
  margin: 10px;
  display: block;
  height: 3rem;
}
.service {
  margin-top: 5rem;
}
.service img {
  display: inline-block;
  margin-top: -5px;
}
.service h1 {
  display: inline-block;
  font-size: 31px;
  font-weight: 700;
}
.service p {
  display: inline-block;
  line-height: 0.001rem;
}
.service .ourService {
  font-weight: 600;
  color: #098a5b;
}
.service-quote {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  min-width: 300px;
}
.benefits {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 3rem;
  margin-right: 20px;
}
.benefits-box-1,
.benefits-box-2,
.benefits-box-3,
.benefits-box-4 {
  padding: 15px;
  border-bottom: 6px solid #d9d9d9;
  background: #313131;
  max-width: 19rem;
  width: 100%;
  height: auto;
}
.benefits-box-3 {
  background-color: #098a5b;
  padding-top: 2.95rem;
}
.benefits-box img {
  display: block;
  height: 2rem;
  width: 2rem;
}
.benefits-box h1 {
  margin-top: 1.5rem;
  font-size: 29px;
  font-weight: 700;
}
.benefits-box p {
  font-weight: 500;
  line-height: 16px;
}
.benefits-box-second {
  margin-top: 1.5rem;
}
/* .benefits .line-vertical {
  margin: 5rem 0;
  margin-left: 3rem;
} */
/* .benefits .line-vertical img {
  display: block;
} */
.line-vertical{
  padding: 30px;
  text-align: center;
}
.therd-block {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: #313131;
}
.therd-block .union-work-but {
  justify-content: space-between;
}
.therd-block .works {
  display: inline-block;
  margin-top: 3rem;
  min-width: 200px;
  width: 100%;
}
.therd-block .works img {
  display: inline-block;
  margin-top: -15px;
}
.therd-block .works h1,
.therd-block .works p {
  display: inline-block;
}
.therd-block .works h1 {
  font-size: 31px;
  font-weight: 700;
}
.therd-block .works p {
  font-size: 15px;
  color: #098a5b;
}
.therd-block .button {
  border: 1.5px solid #098a5b;
  display: inline-block;
  margin-top: 3.5rem;
  padding: 10px;
}
.therd-block .button a {
  text-decoration: none;
  display: inline-block;
  color: #098a5b;
}
/* .therd-block .photos {
  margin-top: 4rem;
} */
.therd-block .photos img {
  width: 11rem;
  height: 100%;
}

.therd-block .photo-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% auto;

}
.therd-block .photo-wrap img{
  margin: 10px;
}
.therd-block .photo-wrap .photos{
  width: 33rem;
  display: flex;
  overflow-x: scroll;

}
.photos::-webkit-scrollbar{
  display: none;
}
.therd-block .photos div{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  flex: none;
  margin-right: 20px;
}

#backBtn, #nextBtn{
  cursor: pointer;
}


/* .therd-block .line-vertical {
  margin: 5rem 0;
  margin-left: 3rem;
}
.therd-block .line-vertical img {
  display: block;
} */
.fourth-block {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.fourth-block .about {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 2rem;
}
.fourth-block .about img {
  display: inline-block;
  margin-top: -15px;
}
.fourth-block .about h1,
.fourth-block .about p {
  display: inline-block;
}
.fourth-block .about h1 {
  font-size: 31px;
  font-weight: 700;
}
.fourth-block .about p {
  font-size: 15px;
  color: #098a5b;
}
.fourth-block .photo-cards {
  margin-top: 3rem;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.fourth-block .photo-cards-1 {
  margin-left: 3rem;
  width: 90%;
  /* max-width: 495px; */
  /* height: 574px; */
}
.fourth-block .photo-cards-2,
.fourth-block .photo-cards-3 {
  display: inline-block;
  width: 100%;
}
.fourth-block .photo-cards-text-1 {
  position: relative;
  left: 4.5rem;
  top: -20%;
  line-height: 10px;
}
.fourth-block .photo-cards-text-1 h1 {
  font-size: 26px;
}
.fourth-block .photo-cards-text-1 p {
  font-weight: 500;
}
.fourth-block .photo-cards-union-2,
.fourth-block .photo-cards-union-3 {
  position: relative;
}
.fourth-block .photo-cards-union-3{
  margin-top: 5%;
}
.fourth-block .photo-cards-text-2 {
  position: absolute;
  left: 10px;
  /* bottom: 30px; */
  bottom: 10%;
  line-height: 10px;
}
.fourth-block .photo-cards-text-2 h1 {
  font-size: 26px;
}
.fourth-block .photo-cards-text-2 p {
  font-weight: 500;
}
.fourth-block .photo-cards-text-3 {
  position: absolute;
  left: 10px;
  /* top: 60%; */
  bottom: 10%;
  line-height: 10px;
}
.fourth-block .photo-cards-text-3 h1 {
  font-size: 26px;
}
.fourth-block .photo-cards-text-3 p {
  font-weight: 500;
}
.fourth-block .line-text {
  margin-top: 2.5rem;
}
.fourth-block .line-text h1 {
  font-size: 24px;
}
.fourth-block .line-text p {
  font-weight: 500;
}
.fourth-block .line-text-1,
.fourth-block .line-text-2 {
  border-right: 1.5px solid #098a5b;
}
.fourth-block .line-text-1,
.fourth-block .line-text-2,
.fourth-block .line-text-3 {
  padding-left: 4rem;
}
/* .fourth-block .line-vertical {
  margin: 5rem 0;
  margin-left: 3.5rem;
}
.fourth-block .line-vertical img {
  display: block;
} */
.fifth-block {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.fifth-block .testimonials {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 2rem;
  /* width: 100%;
  max-width: 500px; */
}
.fifth-block .testimonials img {
  display: inline-block;
  margin-top: -15px;
}
.fifth-block .testimonials h1,
.fifth-block .testimonials p {
  display: inline-block;
}
.fifth-block .testimonials h1 {
  font-size: 31px;
  font-weight: 700;
}
.fifth-block .testimonials p {
  font-size: 15px;
  color: #098a5b;
}
.fifth-block .reviews-block-1,
.fifth-block .reviews-block-2,
.fifth-block .reviews-block-3 {
  background-color: #101017;
  text-align: center;
  font-size: 12px;
  padding: 25px;
  border: 1px solid #777777;
  margin-top: 3rem;
}
.fifth-block .reviews p {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/* .fifth-block .line-vertical {
  margin: 5rem 0;
  margin-left: 3.5rem;
}
.fifth-block .line-vertical img {
  display: block;
} */
.sixth-block {
  text-align: center;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6rem;
}
.sixth-block .do-text {
  font-size: 48px;
}
.sixth-block .do-button button {
  padding: 0.5rem 3rem;
  border: 2px solid #098a5b;
  background-color: #313131;
  color: #ffffff;
}
.footer {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5rem;
}
.footer-logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
}
.footer-contact {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}
.footer-contact img,
.footer-contact p {
  display: inline-block;
  text-align: left;
}
.footer-contact-head {
  font-weight: 700;
  font-size: 20px;
}
.footer-contact-1,
.footer-contact-2,
.footer-contact-3 {
  margin-left: 5px;
}
.footer-serveces {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}
.footer-serveces-head {
  font-weight: 700;
  font-size: 20px;
}
.footer-about {
  text-align: left;
  font-weight: 400;
  font-size: 15px;
}
.footer-about-head {
  font-weight: 700;
  font-size: 20px;
}
.footer2 .hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 3px solid #098a5b;
}
.footer2-social {
  justify-content: space-between;
}


@media (max-width: 770px) {
 
  .menu-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .header-bg{ */
  .menu-wrap{
  /* .menu{ */
    /* position: sticky; */
    /* height: 50vh; */
    /* top: 10px; */
  }
  .menu{
    align-items:start;
  }
  .menu-burger{
    margin-top: 20px;
    /* background-color: #313131b1; */
    left: 20px;
  }
  .menu-list{
    display: none;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    /* background-color: #313131ec; */
    /* box-shadow: 0 0 30px 10px #777777 inset; */
    border-radius: 15px;
  }
  .menu-list li{
    margin: 2px;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after{
    display: flex;
  }
  #menu-toggle:checked ~ .menu-list {
    display: block;
  }

  .box .box-1, .box .box-2, .box .box-3 {
    display: flex;
    align-items: center;
    max-width: 600px;
    justify-content: space-between;
    padding: 15px;
  }
  .box-header{
    margin-bottom: 0;
  }
  .box-text{
    margin-bottom: 0;
    text-align:center;
  }
  .benefits{
    font-weight: 400;
    font-size: 9px;
  }
  .benefits-box-1,
.benefits-box-2,
.benefits-box-3,
.benefits-box-4{
  max-width: 500px;
}
.benefits-box-second {
  margin-top: 0;
}
  .fourth-block .line-text{
    margin-top: 0;
  }
  .fourth-block .line-text h1{
    font-size: 16px;
  }
  .fourth-block .line-text p{
    font-size: small;
    font-weight: normal;
  }
  .fourth-block .photo-cards .photo-cards-1{
    margin-left: 0;
  }
.fourth-block .photo-cards-text-1 {
  left: 0;
}
.fourth-block .photo-cards h1{
  font-size: 80%;
}
.fourth-block .photo-cards p{
  font-size: 60%;
}
.fourth-block .line-text-1,
.fourth-block .line-text-2 {
  border-right: 0 solid #098a5b;
  border-bottom: 1.5px solid #098a5b;
}
.fourth-block .line-text-2,
.fourth-block .line-text-3 {
  margin-top: 15px;
}
.footer{
  font-weight: 500;
  font-size: 12px;
}
}